
            <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
            <div class="card-body"style=" display: table" [formGroup]="ingredientForm" >
                <!--name-->

                <mat-form-field class="form-group" style="float: left; margin-top: -2em; margin-bottom: -1.25em; margin-right: 20px">

                  <mat-select placeholder="ingredient"  class="form-group no-underline" required="true" formControlName="name" name="name" >
                   <mat-option *ngFor="let ingredient of ingredientList" [value]="ingredient">
                    {{ingredient}}
                   </mat-option>
                  </mat-select>
                </mat-form-field>

                <!--amount-->

                <mat-form-field class="form-group col-xs-6 " style="float: right;margin-top: -2em ; margin-bottom: -1.25em; margin-right: 20px">
                    <input matInput placeholder="Sample" class="form-control" formControlName="sample">
                </mat-form-field>

                <mat-form-field class="form-group col-xs-6 " style="float: right;margin-top: -2em ; margin-bottom: -1.25em; margin-right: 20px">
                    <input matInput placeholder="condition" class="form-control" formControlName="condition">
                </mat-form-field>

            </div>

