
      <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
      <div [formGroup]="readingForm" >
        <br/>
      <div class="column">
        <!--name-->
        <mat-form-field class="form-group" style="float: left; margin-top: -2em; margin-bottom: -1.25em; margin-right: 20px">

          <mat-select placeholder="condition"  class="form-group no-underline" required="true" formControlName="conditionName" name="conditionName" >
            <mat-option *ngFor="let condition of conditionList" [value]="condition">
            {{condition}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field class="form-group col-xs-6 " style="float: right;margin-top: -2em ; margin-bottom: -1.25em; margin-right: 20px">
            <input matInput placeholder="Sample" class="form-control" formControlName="sample">
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field class="form-group col-xs-6 " style="float: right;margin-top: -2em ; margin-bottom: -1.25em; margin-right: 20px">
            <input matInput placeholder="control" class="form-control" formControlName="control">
        </mat-form-field>
      </div>
    </div>



