<div class="col-md-6">
<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
    <!-- we will place our fields here -->

    <!-- name -->
    <div class="form-group">
        <input class="form-control" (focus)="this.value=''" placeholder="Name" type="text" formControlName="name">
        <!--display error message if name is not valid-->
        <small *ngIf="!myForm.controls.name.valid" class="text-danger">
            Name is required (minimum 5 characters).
        </small>
    </div>
    <div  class="card" formArrayName="measurements">
        <div *ngFor="let measurement of myForm['controls'].measurements.controls; let i=index">
            <div style=" display: inline-block" class="card-title card text-white bg-dark mb-3"  >
                <div style="float: left; margin-right: 40px;">Measurement {{i + 1}}</div>
                <div *ngIf="myForm['controls'].measurements.controls.length > 1" (click)="removeMeasurement(i)" style="float: right">
                	<i class="fas fa-times" ></i>
                </div>
            </div>
            <div  class="card-body" [formGroupName]="i" style="margin-top: -2em;" >
   				   <app-measurement [measurementForm]="myForm['controls'].measurements.controls[i]"></app-measurement>
			      </div>
  	    </div>
    </div>

	<div class="margin-20">
	       <a (click)="addMeasurement()" style="cursor: default">
	    Add another measurement +
	  </a>
  </div>
  <br/>
  <br/>
  <div class="margin-20">
    <input class="form-control" (focus)="this.value=''" placeholder="Specification" type="text" formControlName="specification">
  </div>
  <br/>
	 <div class="margin-20">
	   <button type="submit" class="btn btn-primary pull-right card text-white bg-dark mb-3" >Submit</button>
	 </div>
        <div class="clearfix"></div>
</form>
</div>
