@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: black;
  height: 2px;
}

.mat-tab-label{
  background: #d8ecef;
  color:  black;
}

div.mat-expansion-panel-content:not(.mat-expanded) {
    height: 0px !important;
    visibility: hidden !important;
}

.mat-expansion-panel-header  {
    height: 48px;
}
mat-panel-title {
  flex-basis: 50%;
}
mat-panel-description {
  flex-basis: 50%;
}

header {
    background-color: #9ceaf7;
    display: inline-block;
  width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
}

.basic-container {
  padding: 5px;
}

.menu-center {
  float: center;
  display: inline;
}

.menu-right {
  float: right;
  display: inline;
}

